<div class="yield-container">
  <div class="user-index">
    <div class="container">
      <div class="user-page-index-container">
        <div class="user-profile">
          <div class="user-title">
            <%= current_user.name %>のコード
          </div>
          <div class="user-numberOfPosts">
            コード数：<% @userPostsCount %>個
          </div>
          <div class="user-profile">
            プロフィール：<% %>
          </div>
        </div>

        <div class="user-posts">
          <% if @userPosts.exists? %>
            <% @userPosts.each do |post| %>
              <div class="user-post">
                <p><%= post.name %></p>
                <div class="code-container">
                  <p class="code"><% post.content %></p>
                </div>
              </div>
            <% end %>  
          <% end %>
            <div>
              <p><%= link_to '投稿してみよう', new_post_path, class:"btn btn-outline-info" %></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

