<footer>
  <nav>
    <a id="footer-margin-left-none"class="nav-link" href="privacy">Privacy</a>
    <a class="nav-link" href="https://qiita.com/OriverK/items/df41ec6b57b40a06a64d" target="_blank" rel="noopener noreferrer">About</a>
    <a class="nav-link" href="https://twitter.com/not_you_die" target="_blank" rel="noopener noreferrer">Twitter</a>
    <a class="nav-link" href="https://github.com/oriverk/Codr" target="_blank" rel="noopener noreferrer" >Github</a>
  </nav>
</footer>