<footer>
  <nav class="links nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Q&A</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">利用規約</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">運営情報</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="https://twitter.com/Codr00" target="_blank" rel="noopener noreferrer">Twitter</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="https://github.com/oriverk/Codr" target="_blank" rel="noopener noreferrer" >Github</a>
  </nav>
</footer>