$tab: 680px; // タブレット

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

// 例
// .box {
//   @include tab {
//     background-color: blue;
//   };
// }

body {
  color: #333;
  margin: 0 auto;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  @include tab {
    width: 100%;
  };
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

/* custom from here */
#tweet{
  background-color:#00acee;
  margin-left:0;  
}

body{
  .body-container{
    width:680px;
    margin: auto;
    background-color:rgb(245, 245, 245);
      @include tab {
        width: 100%;
        margin: auto;
      };
    }
}   

header{
nav{ 
  .nav {
    float:right;
    .nav-item.active{
      float:left;
    }
  }
}
}


.posting-container{
  text-align:center;
  height:40px;
  width:100%;
  margin:5px 0;
}
.posts-container{
  padding: 5px;
}

.post-container{
  border:solid 1px red;
  padding:10px;
  margin-bottom:5px;
  .content{
    margin:10px auto;
    padding:10px;
    background-color:white;
  }
  .post-action{
    display:flex;
    form{
      flex:auto;
      input{
        flex:auto;
        
        width:100%;
      }
    }
    a{
      flex:auto;
      text-align:center;
      margin-left:5px;
    }
  }  
}

footer nav a{
  font:white;
  font-weight: bold;
}




