@import "./users";
@import "./posts";
@import "rouge";

$tab: 680px; 
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

// .box {
//   @include tab {
//     background-color: blue;
//   };
// }
  
body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #16202a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-container{
  width:680px;
  margin: 0 auto;
  background-color:rgb(240,240,240);
  border:solid 0.5px grey;
  @include tab{
    width: auto;
  }
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
   @include tab{
    width: auto;
  }

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

/* custom from here */

header{
  nav.container.navbar.navbar-dark.bg-dark{
    width:auto;
  }
}

.yield-container{
  margin-bottom: 2px;
  margin:20px;
}

.form-container{
  margin: auto;
}

footer nav {
    background-color:#353a40;
    display:flex;
      a.nav-link{
      flex:auto;
      color:white;
      font-weight: bold;
      text-align: center;
      border-left:solid 1px white;
      border-right:solid 1px white;
    }
  }